.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.fixed {
  position: fixed;
  background: $dark;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-top: 20px;
  @include media-tablet {
    min-height: 70px;
    display: block;
    overflow: visible;
    padding-top: 0;
  }
}
.nav {
  max-width: 600px;
  margin: 0;
  padding: 45px 0px 50px 30px;
  background: url("../images/header/1.svg") no-repeat left 10px;
  display: flex;
  z-index: 100;
  @include media-tablet {
    position: absolute;
    top: 0;
    left: -768px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 40px;
    background: #fff;
    transition: left 0.6s ease-in-out;
  }
  &.active {
    left: 0;
  }
  &__link {
    &:not(:last-child) {
      margin-right: 64px;
      @include media-tablet {
        margin-right: 0;
      }
    }
    &-1 {
      animation: rise 2s ease-in-out;
    }
    &-2 {
      animation: rise 2s ease-in-out 0.3s backwards;
    }
    &-3 {
      animation: rise 2s ease-in-out 0.5s backwards;
    }
    &-4 {
      animation: rise 2s ease-in-out 0.7s backwards;
    }
    &-5 {
      animation: rise 2s ease-in-out 0.9s backwards;
    }
    & a {
      @extend %btnText;
      color: $grey;
      font-weight: 700;
      position: relative;

      transition: color 0.3s ease;
      @include media-tablet {
        font-size: 36px;
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $white;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 0.3s linear;
        @include media-tablet {
          background: $dark;
        }
      }
      &:hover {
        color: $orange;
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__link--first {
    & a {
      &::after {
        background: $dark;
      }
    }
  }
}
.burger {
  margin: 20px 0 0 20px;
  width: 50px;
  &.active {
    position: absolute;
    top: -5px;
    left: 20px;
    z-index: 110;
  }
}
.burger:before,
.burger:after,
.burger div {
  background: #fff;
  content: "";
  display: none;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
  @include media-tablet {
    display: block;
  }
}
.burger.active:before {
  transform: translateY(13px) rotate(135deg);
  background: $dark;
}
.burger.active:after {
  transform: translateY(-13px) rotate(-135deg);
  background: $dark;
}

.burger.active div {
  transform: scale(0);
}
