.title {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 335px;
  padding-left: 30px;
  padding-bottom: 332px;
  @include media-laptop {
    justify-items: center;
  }
  @include   media-mobile {
    padding-bottom: 321px;
  }

  color: $white;
  &__text {
    margin-bottom: 16px;
    font-size: 0;
    color: inherit;
    animation: rise 2s ease-in-out;
    img{
      max-width: 100%;
    }
  }
  &__description {
    @extend %heading2;
    margin-bottom: 31px;
    animation: rise 2.5s ease-in-out .1s;
    @include media-tablet {
      font-size: 18px;
    }
    
  }
  &__contacts {
    ul {
      display: flex;
      li {
        margin-right: 15px;
        a {
          img {
            height: 46px;
            width: 46px;
            transition: transform 2s ease-in-out;
            animation: rise 1.5s ease-in-out , rotate 3s linear infinite 2s;
            &:hover {
              filter: brightness(150%) contrast(155%);
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }
}

