/*========================== Typography =================================================================*/
@import "_param";
@import "_mixins";


@font-face {
  font-family: Merriweather;
  src: url("../assets/fonts/MerriweatherSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
/*========================== Normalize =================================================================*/
@import "_normalize";

/*========================== PAGE/reset/tools ======================================================================*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}
ul,ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font-family: Inter, sans-serif;
  color: $dark;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
@keyframes rise {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
/*========================== HEADER ======================================================================*/
@import "_header";
/*========================== TITLE =======================================================================*/
@import "_title";
/*========================== ABOUT =======================================================================*/
@import "_about";
/*========================== SKILLS ======================================================================*/
@import "_skills";
/*========================== OTHER INFO ==================================================================*/
@import "_slide";
/*========================== CONTACTS ====================================================================*/
@import "_contacts";
/*========================== FOOTER ======================================================================*/
@import "_footer";

main {
  overflow: hidden;
}
.main__home {
  background: url("../images/bg/Union1.svg") no-repeat left top;
}
.main__about {
  background: url("../images/bg/Union2.svg") no-repeat left -382px;
}
.main__skills {
  background: url("../images/bg/Union3.svg") no-repeat right -254px;
}
.main__rest {
  background: url("../images/bg/Union4.svg") no-repeat left bottom;
}
.main__contacts {
  background: url("../images/bg/Union5.svg") no-repeat center center/cover;
}